  * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      }
      .containar {
        background-color: #e3e3ff;
        display: flex;
        justify-content: center;
        align-items: center;
       
        min-height: 100vh;
      }
      .main {
        background-color: #8886c7; 
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0px 10px 30px #00000033;
        width: 450px;
        text-align: center;
        color: white;
      }
      .main h2 {
        font-size: 28px;
        margin-bottom: 30px;
        font-weight: bold;
      }
      .main form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
      }
      .full-width {
        grid-column: span 2;
      }
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        font-size: 15px;
        border: none;
        box-shadow: 0px 0px 30px #00000033 ;
        color: #555;
      }
      input:focus{
        border: 2px solid #e3e3ff;
      }
    
      .check{
       grid-column: span 2;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin: 10px 0;
      }
      .signup-btn{
        grid-column: span 2;
        background-color: #8f8c87;
        border: none;
        outline: none;
        width: 100%;
        cursor: pointer;
        color: #3333334d;
        font-size: 20px;
        padding:12px;
        border-radius: 25px;
        font-weight: bold;
        margin: 10px auto 5px ;
        
      }
      .signup-btn:hover{
        background-color: #3333333d;
      }
      .footer-links{
        grid-column: span 2;
      }
      .footer-links p{
        font-size: 16px;
        margin-bottom: 10px;
       
      }
      .footer-links p a{
         color: white;
      }
      .footer{
        margin-top: 10px;
      }